<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" version="1.0.1">
  <name>codeTxt</name>
  <description>Provides a simple interface for encoding and escaping strings for common web usages.</description>
  <author href="https://github.com/courtney-miles/">Courtney Miles</author>
  <icon src="icons/16_widget_icon_codetxt.png" />
  <icon src="icons/32_widget_icon_codetxt.png" />
  <icon src="icons/64_widget_icon_codetxt.png" />
  <icon src="icons/128_widget_icon_codetxt.png" />
</widget>
